/* Main Wrapper */
.main-contact {
	margin-bottom: 5%;
	background: #000;
	padding: 20px;
}
.contact-wrapper {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

/* Form Section */
.contact-form-container {
	flex: 1 1 50%;
	margin-right: 5%;
}

.contact-form-container p {
	margin-bottom: 20px;
	color: #fff;
}

/* Form Styles */
.contact-form {
	display: flex;
	flex-direction: column;
}

.contact-form label {
	margin-bottom: 5px;
	font-weight: bold;
}

.contact-form input,
.contact-form textarea {
	margin-bottom: 15px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.contact-form textarea {
	min-height: 100px;
}

.contact-form button {
	padding: 10px 20px;
	font-size: 16px;
	color: #fff;
	background-color: #28a745;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.contact-form button:hover {
	background-color: #218838;
}

/* Success and Error Messages */
.success-message {
	margin-top: 15px;
	color: green;
}

.error-message {
	margin-top: 15px;
	color: red;
}

/* Address Section */
.contact-info {
	flex: 1 1 35%;
	padding: 20px;
}

.contact-info h2 {
	font-size: 20px;
	margin-bottom: 15px;
}

.contact-info p,
.contact-info a {
	margin-bottom: 10px;
	line-height: 1.6;
	color: #ffff;
}
.contact-info a:hover {
	color: var(--lightpurple);
	cursor: pointer;
}

.contact-info p strong {
	display: block;
	color: var(--green);
}
